@import url('./index.css');

.coberturas{
    width: 100vw;
    min-height: 70vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 2rem;
}
.tituloSeccion{
    font-size: 3rem;
    font-weight: 700;
    color: var(--cobalt-blue);
}

.coberturas p{
    font-size: 1.25rem;
    color: var(--carbon-black);
    text-align: center;
}

.cardsContainer{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.card{
    width: 250px;
    height: 150px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    background-color: var(--platinum);
    border-radius: 1rem;
    box-shadow: 0 .1rem .2rem rgba(0, 0, 0, .3);
    padding: 1rem;
}
.card > .icon{
    color: var(--cobalt-blue);
}
.card > h3{
    text-align: center;
}
.card > p{
    font-size: 1rem;
    font-weight: 500;
    color: var(--gunmetal);
    text-align: center;
}